<mat-card class="card">
    <!-- Product Image -->
    <img mat-card-image [src]="product.image" alt="{{product.name}} photo">

    <!-- Product Name and Price -->
    <mat-card-header>
        <mat-card-title>{{product.name}} {{product.id}}</mat-card-title>
        <mat-card-subtitle>&#8377; {{product.price}}</mat-card-subtitle>
    </mat-card-header>

    <!-- Product Description -->
    <mat-card-content class="container-product-description">
        <p [ngClass]="{'product-description': isClamped(product)}" [innerHTML]="product.description"></p>
        <button class="mat-button button-read-more" *ngIf="isClamped(product)" mat-button
            (click)="productDetailsPopup(product)">Read more...</button>
    </mat-card-content>

    <!-- Add to Cart Button -->
    <mat-card-actions class="container-add-to-cart">
        <button class="button-add-to-cart" mat-flat-button color="primary"
            (click)="addProductToCart(product)"><mat-icon>add_shopping_cart</mat-icon>Add to
            cart</button>
    </mat-card-actions>
</mat-card>